.body {
  font-family: Arial, Helvetica, sans-serif;
}

.question {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 24px;
  padding: 1rem;
}

.question-title {
  font-size: 3rem;
}

.question-answers {
  padding: 2rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}

.answer {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 24px;
  background-color: rgb(214, 213, 213);
  border-radius: 10px;
  height: 5rem;
}

.answer.correct {
  background-color: rgb(4, 221, 4);
}

.answer.incorrect {
  background-color: rgba(255, 0, 0, 0.787);
}

button {
  border: none;
  background-color: rgb(214, 213, 213);
  border-radius: 10px;
}

button:hover {
  filter: brightness(90%);
}

.footer > button {
  height: 3rem;
  width: 5rem;
}
